::selection
{
	background: rgba(0,0,0,0.1);
}
html, body{
	padding: 0;
	margin: 0;
}
img{
	max-width: 100%;
	border-radius: 2px;
}
#container{
	width: 750px;
}
.post{
	width: 100%;
}
.post-title{
	text-decoration: none;
}
.post-image{
	width: 100%;
}
table
{
	border-collapse: collapse;
	border-spacing: 0;
	display: block;
	font-family: "Helvetica Neue",Helvetica,"Segoe UI",Arial,freesans,sans-serif;
	font-size: 16px;
	line-height: 1.6;
	overflow: auto;
	width: 100%;
	word-break: normal;
}
tr
{
	background-color: #fff;
	border-top: 1px solid #ccc;
}
th
{
	border: 1px solid #ddd;
	font-weight: bold;
	padding: 6px 13px !important;
}
td
{
	border: 1px solid #ddd;
	padding: 6px 13px !important;
}
tr:nth-child(2n)
{
	background-color: #f8f8f8;
}
@media (max-width: 775px){
	#container{
		width: 100%;
	}
}

*{
	-webkit-transition: all 0.1s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}
.ad{
	width: 100%;
	overflow: hidden;
}
#cover{
	height: 200px;
	width: 100%;
	text-align: center;
	background-size: cover;
}
.stick{
   position: fixed !important;
   top :0px;
   z-index: 99;
   width: 100%;
}